
$theme: "litera";
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #3D4149;
$gray-800: #3A3C40;
$gray-900: #212529;
$black: #000;
$blue: #4582ec;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #02b875;
$teal: #20c997;
$cyan: #17a2b8;
$primary: $blue;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$min-contrast-ratio: 1.85;
$body-bg: $gray-700;
$body-color: $white;
$font-family-sans-serif: "Poppins";
$font-family-serif: Georgia;
$font-size-base: 1.1rem;
$headings-font-weight: 700;
$table-border-color: rgba(0, 0, 0, .1);
$table-bg-scale: 0;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1.1rem;
$btn-font-family: $font-family-sans-serif;
$btn-font-size: .875rem;
$btn-font-size-sm: .688rem;
$btn-border-radius: 1.078em;
$btn-border-radius-lg: 2.688em;
$btn-border-radius-sm: .844em;
$input-border-color: rgba(0, 0, 0, .1);
$input-group-addon-bg: $gray-200;
$navbar-dark-color: rgba($white, .6);
$navbar-dark-hover-color: $pink;
$navbar-light-hover-color: $pink;
$navbar-light-active-color: $white;
$tooltip-font-size: 11px;
$badge-font-weight: 400;
$badge-padding-y: .6em;
$badge-padding-x: 1.2em;
$alert-border-width: 0;
$breadcrumb-bg: none;
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: $pink;
$list-group-bg: none;
$list-group-border-width: none;
$dropdown-bg: $body-bg;
$dropdown-color: $white;
$dropdown-link-color: $white;
$nav-tabs-link-active-bg: $pink;
$nav-tabs-link-active-color: $white;
$nav-link-disabled-color: $yellow;
$nav-tabs-link-active-border-color: $nav-tabs-link-active-bg;
$nav-pills-link-active-color: $white;
$navbar-dark-active-color: $pink;
$navbar-light-color: $gray-800;
$link-hover-decoration: none;
$link-color: $white;
$nav-tabs-link-hover-border-color: none;
$pagination-color: $black;
$card-color: $black;
$card-cap-color: $black;
$modal-content-color: $black;
$list-group-hover-bg: $pink;
$link-hover-color: $blue;