
$theme: "vapor";
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #170229;
$black: #000;
$blue: #00A2FF;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #DC143C;
$red: #F2071B;
$orange: #f1b633;
$yellow: #FF840C;
$green: #00AD23;
$teal: #3f81a2;
$cyan: #32fbe2;
$primary: #262626;
$secondary: $pink;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: #F6FFF6;
$dark: #0D0D0D;
$min-contrast-ratio: 1.2;
$body-bg: #3D4149;
$body-color: $white;
$link-color: $body-color;
$border-width: 0;
$border-radius: .15rem;
$border-radius-sm: .05rem;
$component-active-bg: $pink;
$font-family-sans-serif: "Poppins", Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-muted: rgba($body-color, .3);
$blockquote-footer-color: $text-muted;
$table-color: $white;
$table-bg-scale: 0;
$input-disabled-bg: lighten($body-bg, 5%);
$input-color: $black;
$input-group-addon-bg: $input-disabled-bg;
$form-range-track-bg: $input-bg;
$form-range-thumb-disabled-bg: $purple;
$nav-link-disabled-color: $text-muted;
$nav-tabs-link-active-color: $component-active-bg;
$pagination-focus-bg: transparent;
$pagination-hover-bg: $pink;
$pagination-disabled-color: $text-muted;
$pagination-disabled-bg: transparent;
$card-border-width: 2px;
$card-cap-color: $white;
$card-color: $white;
$tooltip-bg: $dark;
$tooltip-opacity: 1;
$popover-bg: $primary;
$popover-header-color: $white;
$popover-body-color: $white;
$toast-color: $white;
$toast-background-color: $primary;
$toast-header-color: $toast-color;
$toast-header-background-color: $toast-background-color;
$modal-content-color: $white;
$modal-content-bg: $primary;
$progress-bg: $gray-600;
$list-group-color: $white;
$list-group-bg: null;
$list-group-hover-bg: $gray-600;
$list-group-disabled-color: $text-muted;
$list-group-action-color: $body-color;
$list-group-action-hover-color: $white;
$list-group-action-active-bg: $list-group-hover-bg;
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: $component-active-bg;
$link-hover-decoration: none;
$link-hover-color: $pink;
$blockquote-small-color: $gray-500;
$input-border-color: null;
$dropdown-link-hover-bg: $gray-300;
$dropdown-link-hover-color: $pink;
$dropdown-link-color: $black;
$pagination-hover-color: $white;
$pagination-bg: transparent;
$jumbotron-bg: $dark;
$jumbotron-color: $white;
$card-cap-bg: $primary;
$card-border-color: $gray-600;
$card-bg: $primary;
$modal-backdrop-bg: $gray-700;
$list-group-border-color: null;
$list-group-active-color: $white;
$list-group-active-bg: $gray-600;
$breadcrumb-bg: null;
$breadcrumb-divider: quote(">");
$spinner-width: 2.5rem;
$navbar-dark-hover-color: $pink;
$navbar-dark-color: $white;
$navbar-dark-disabled-color: $text-muted;
$navbar-light-color: $black;
$navbar-light-hover-color: $pink;